name: test-workflows/scheduled
on:
  schedule:
    - cron: '*/30 * * * *'
jobs:
  cron:
    runs-on: ubuntu-latest
    timeout-minutes: 2
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version-file: .python-version
      - name: Run main
        run: python -m main
      - name: Set timestamp
        id: vars
        run: echo ::set-output name=timestamp::$(date -u +"%Y-%m-%d %H:%M:%d")
      - name: Update log
        run: |
          touch workflows.log
          echo ${{ steps.vars.outputs.timestamp }} >> workflows.log
      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          file_pattern: '*.log'
          commit_author: cmc-daily-price <cmc-daily-price@stake.fish>
          commit_user_name: cmc-daily-price
          commit_user_email: cmc-daily-price@stake.fish
          commit_message: (automated) test-workflows
